<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.mapper.ClaimVoucherItemMapper">
  <resultMap id="BaseResultMap" type="com.oa.entity.ClaimVoucherItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="claim_voucher_id" jdbcType="INTEGER" property="claimVoucherId" />
    <result column="item" jdbcType="VARCHAR" property="item" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, claim_voucher_id, item, amount, comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from claim_voucher_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from claim_voucher_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oa.entity.ClaimVoucherItem">
    insert into claim_voucher_item (id, claim_voucher_id, item, 
      amount, comment)
    values (#{id,jdbcType=INTEGER}, #{claimVoucherId,jdbcType=INTEGER}, #{item,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DOUBLE}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oa.entity.ClaimVoucherItem">
    insert into claim_voucher_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="claimVoucherId != null">
        claim_voucher_id,
      </if>
      <if test="item != null">
        item,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="claimVoucherId != null">
        #{claimVoucherId,jdbcType=INTEGER},
      </if>
      <if test="item != null">
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oa.entity.ClaimVoucherItem">
    update claim_voucher_item
    <set>
      <if test="claimVoucherId != null">
        claim_voucher_id = #{claimVoucherId,jdbcType=INTEGER},
      </if>
      <if test="item != null">
        item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oa.entity.ClaimVoucherItem">
    update claim_voucher_item
    set claim_voucher_id = #{claimVoucherId,jdbcType=INTEGER},
      item = #{item,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<resultMap id="BaseResultMap" type="com.oa.entity.ClaimVoucherItem">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="claim_voucher_id" jdbcType="INTEGER" property="claimVoucherId" />
		<result column="item" jdbcType="VARCHAR" property="item" />
		<result column="amount" jdbcType="DOUBLE" property="amount" />
		<result column="comment" jdbcType="VARCHAR" property="comment" />
	</resultMap>
	<sql id="Base_Column_List">
		id, claim_voucher_id, item, amount, comment
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from claim_voucher_item
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByClaimVoucherId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from claim_voucher_item
		where claim_voucher_id = #{cvid,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from claim_voucher_item
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" keyProperty="id" parameterType="com.oa.entity.ClaimVoucherItem" useGeneratedKeys="true">
		insert into claim_voucher_item (id, claim_voucher_id, item,
		amount, comment)
		values (#{id,jdbcType=INTEGER}, #{claimVoucherId,jdbcType=INTEGER},
		#{item,jdbcType=VARCHAR},
		#{amount,jdbcType=DOUBLE}, #{comment,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.oa.entity.ClaimVoucherItem">
		insert into claim_voucher_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="claimVoucherId != null">
				claim_voucher_id,
			</if>
			<if test="item != null">
				item,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="comment != null">
				comment,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="claimVoucherId != null">
				#{claimVoucherId,jdbcType=INTEGER},
			</if>
			<if test="item != null">
				#{item,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DOUBLE},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.oa.entity.ClaimVoucherItem">
		update claim_voucher_item
		<set>
			<if test="claimVoucherId != null">
				claim_voucher_id = #{claimVoucherId,jdbcType=INTEGER},
			</if>
			<if test="item != null">
				item = #{item,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=DOUBLE},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.oa.entity.ClaimVoucherItem">
		update claim_voucher_item
		set claim_voucher_id = #{claimVoucherId,jdbcType=INTEGER},
		item = #{item,jdbcType=VARCHAR},
		amount = #{amount,jdbcType=DOUBLE},
		comment = #{comment,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>