<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- headbar -->
<div th:replace="commons/top::headbar"></div>
<!-- bdybar -->
<div th:replace="commons/top::bodybar"></div>
<section id="content" class="table-layout animated fadeIn">
    <div class="tray tray-center">
        <div class="content-header">
            <h2> 个人报销单 </h2>
            <p class="lead"></p>
        </div>
        <div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;">
            <div class="panel  heading-border">
                <div class="panel-menu">
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default light">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button type="button" class="btn btn-default light">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button type="button" class="btn btn-default light">
                                    <i class="fa fa-plus" onclick="javascript:window.location.href='/claim_voucher/to_add';"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-9 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default light">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-default light">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <table id="message-table" class="table admin-form theme-warning tc-checkbox-1">
                        <thead>
                        <tr class="">
                            <th class="text-center hidden-xs">Select</th>
                            <th class="hidden-xs">事由</th>
                            <th>状态</th>
                            <th class="hidden-xs">创建人</th>
                            <th class="hidden-xs">金额</th>
                            <th class="text-center">创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                            <tr class="message-unread" th:each="list:${lists}">
                                <td class="hidden-xs">
                                    <label class="option block mn">
                                        <input type="checkbox" name="mobileos" value="FR">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </td>
                                <td>[[${list.cause}]]</td>
                                <td class="hidden-xs">
                                    <span class="badge badge-warning mr10 fs11"> [[${list.status}]]</span>
                                </td>
                                <td>[[${list.creater.name}]]</td>
                                <td class="hidden-xs">[[${list.totalAmount}]]</td>
                                <td class="text-center">[[${#dates.format(list.createTime,'yyyy-MM-dd hh:mm')}]]</td>
                                <td><a th:href="@{/claim_voucher/detail(id=${list.id})}">详细信息</a></td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</section>
</div>
<!-- bottombar -->
<div th:replace="commons/bottom::bottombar"></div>

</body>
</html>

