<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- headbar -->
<div th:replace="commons/top::headbar"></div>
<!-- bdybar -->
<div th:replace="commons/top::bodybar"></div>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="content-header">
			<h2>报销单详情</h2>
			<p class="lead"></p>
		</div>
		<div class="admin-form theme-primary mw1000 center-block"
			style="padding-bottom: 175px;">
			<div class="panel heading-border">
				<div class="panel-body bg-light">
					<div class="section-divider mt20 mb40">
						<span> 基本信息 </span>
					</div>
					<div class="section row">
						<div class="col-md-2">事由</div>
						<div class="col-md-6">[[${claimVoucher.cause}]]</div>
					</div>
					<div class="section row">
						<div class="col-md-2">创建人</div>
						<div class="col-md-4">[[${claimVoucher.creater.name}]]</div>
						<div class="col-md-2">创建时间</div>
						<div class="col-md-4">[[${#dates.format(claimVoucher.createTime,'yyyy-MM-dd hh:mm')}]]</div>
					</div>
					<div class="section row">
						<div class="col-md-2">待处理人</div>
						<div class="col-md-4">[[${claimVoucher.dealer.name}]]</div>
						<div class="col-md-2">状态</div>
						<div class="col-md-4">[[${claimVoucher.status}]]</div>
					</div>
					<div class="section-divider mt20 mb40">
						<span> 费用明细 </span>
					</div>
					<div class="section row">
						<div th:each="item:${items}">
							<div class="col-md-3">[[${item.item}]]</div>
							<div class="col-md-3">[[${item.amount}]]</div>
							<div class="col-md-5">[[${item.comment}]]</div>
						</div>
					</div>
					<div class="section row">
						<div class="col-md-2">总金额</div>
						<div class="col-md-6">[[${claimVoucher.totalAmount}]]</div>
					</div>
					<div class="section-divider mt20 mb40">
						<span> 处理流程 </span>
					</div>
					<div class="section row">
					<div th:each="record:${records}">
						<div class="col-md-1">[[${record.dealer.name}]]</div>
						<div class="col-md-3">[[${#dates.format(record.detalTime,'yyyy-MM-dd hh:mm')}]]</div>
						<div class="col-md-1">[[${record.dealWay}]]</div>
						<div class="col-md-2">[[${record.dealWay}]]</div>
						<div class="col-md-5">备注：[[${record.comment}]]</div>
					</div>
					</div>
					<div class="panel-footer text-right">
						<button type="button" class="button"
							onclick="javascript:window.history.go(-1);">返回</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</section>
</div>
<!-- bottombar -->
<div th:replace="commons/bottom::bottombar"></div>

</body>
</html>

